* {
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}

#movies {
  display: none;
}

@media only screen and (min-width: 800px) {
  .shaff {
    color: red;
  }
}

/* Why isn't this working? */

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
}
